body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 12px;
  font-weight: bold;
  line-height: 34px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
  color: white;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.game-info {
  margin-left: 20px;
}

.highlight {
  border-color: yellow;
}

.highlight .square {
  color: yellow;
}

#order {
  display: none;
}

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

#root {
  height: 100vh;
}

.col-4 {
  width: 33%;
}

.row {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.status {
  margin-bottom: 20px;
  margin: auto;
  width: fit-content;
}

.slider {
/*  display: none;
*/}

.col-6 {
  width: 50%;
  float: left;
  text-align: center;
  margin: 0;
  padding: 20px;
}

.active {
  background-color: #00800061;
}

.arrowKeys {
  padding-right: 10px;
}

.userControls {
  padding: 15px 20px;
  border: 4px double #8080807d;
}

@media (max-width: 800px) {
  .game {
    flex-direction: column;
    justify-content: start;
  }

  .game-board {
    margin: 50px 0;
  }

  .userControls {
    margin-bottom: 50px;
  }

  #root {
    height: unset;
  }

}
